:host {
    display: flex;
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;

    flex-direction: column;
    row-gap: 2vh;
}

mat-card {
    width: 60%;

    .datepicker-container {
        font-size: 12px;
        display: flex;
        justify-content: center;

        mat-form-field {
            width: 100%;
        }
    }

    mat-card-content {
        table {
            width: 100%;
        }
    }

    mat-progress-spinner {
        margin: 0 auto;
    }
}